.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% auto;
    direction: rtl;
    justify-content: space-evenly;
}
.title {
    font-size: 4rem;
    font-family: "Assistant";
    text-align: center;
    margin: 1% auto;
    direction: rtl;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.description {
    font-size: 1.5rem;
    font-family: "AssistantR";
    text-align: center;
    margin: 1% auto;
    direction: rtl;
    width: 70%;
}